doctype html

head
  meta(charset='UTF-8')
  title  About Us 
  link(rel='stylesheet' href='../css/reset.css')
  link(rel='stylesheet' href='../css/pm_main.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../css/about.css')
header
  img.logo(src='../img/west-mec.png')
  input#nav-toggle.nav-toggle(type='checkbox')
  nav
    ul
      li
        a(href='index.html') Home
      li
        a(href='about.html') About
      li
        a(href='CTSO.html') CTSO
      li
        a(href='shop.html') Shop
      li
        a(href='contact.html') Contact
  label.nav-toggle-label(for='nav-toggle')
    span
article#CTSO
  img#officers(src='27. Precision Machining 2.png' alt='')
  h1 About
  h2 Our Mission
  p
    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti possimus officiis tenetur ab sunt
    | repellendus vel incidunt excepturi laborum, doloremque nisi cupiditate facere, praesentium quod expedita
    | omnis dolore, itaque aperiam.
  h2 Our Work
  h3 Awards
  div
    h4 Regionals:
  div
    h4 State:
  div
    h4 Nationals:
footer
  #links
    p
      a(href='https://drive.google.com/file/d/1dH3h6C3VaGFJM_OQs96lUrLw8STLl5Hh/view') Course Overview
  section#mediaContainer
    #media
      a.fa.fa-facebook(href='#' title='Facebook')
      a.fa.fa-twitter(href='#' title='Twitter')
      a.fa.fa-instagram(href='#' title='Instagram')
      a.fa.fa-linked-in(href='#' title='linked-in')
