doctype html
head
  meta(charset='UTF-8')
  title  About Us 
  link(rel='stylesheet' href='reset.css')
  link(rel='stylesheet' href='pm_main.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='about.css')
header
  img.logo(src='west-mec.png')
  input#nav-toggle.nav-toggle(type='checkbox')
  nav
    ul
      li
        a(href='fire') Fire Types
      li
        a(href='water') Water Types
      li
        a(href='earth') Earth Types
      li
        a(href='electric') Electric Types
      li
        a(href='dragon') Dragon Types
  label.nav-toggle-label(for='nav-toggle')
    span
article#CTSO
  img#officers(src='27. Precision Machining 2.png' alt='')
  h1 CTSO
  h2 Our Mission
  p
    | Our mission as a CTSO is to set an example, show and encourage other students to do their best, manage the
    | CTSO as a team not just as individuals, and we keep the CTSO as powerful and fully functional as possible.
  h2 Our Work
  p
    | We are a hard working, dedicated, and enthusiastic CTSO and we look forward to any future students or
    | collaborations with other organizations. Our CTSO officers for the West-MEC Precision Machining Program work
    | as
    | a team to attend meetings to stay up to date, manage POs and funds for our program, hold events and
    | showcases,
    | and even arrange timing, permission forms, and costs for conferences for all of the attending students.
  h3 Awards
  div
    h4 Regionals:
    ul
      li dfajdkljfakjfdlkajfj
      li dafadfadfaf
      li dfadfafda
      li adfadfafd
  div
    h4 State:
    ul
      li dfajdkljfakjfdlkajfj
      li dafadfadfaf
      li dfadfafda
      li adfadfafd
  div
    h4 Nationals:
    ul
      li dfajdkljfakjfdlkajfj
      li dafadfadfaf
      li dfadfafda
      li adfadfafd
footer
  #links
    p
      a(href='https://drive.google.com/file/d/1dH3h6C3VaGFJM_OQs96lUrLw8STLl5Hh/view') Course Overview
  section#mediaContainer
    #media
      a.fa.fa-facebook(href='#' title='Facebook')
      a.fa.fa-twitter(href='#' title='Twitter')
      a.fa.fa-instagram(href='#' title='Instagram')
      a.fa.fa-linked-in(href='#' title='linked-in')
