doctype html
html
  head
    meta(charset='utf-8')
    title Precision Machining
    link(rel='stylesheet' href='/css/reset.css' type="text/css")
    link(rel='stylesheet' href='/css/pm_main.css' type="text/css")
    script(src='/src/pm_slideshow.js' async='')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  #page-container
    #content-wrap
      // Nav (Holds Logo along with tabs)
      header
        img.logo(src='../img/west-mec.png')
        input#nav-toggle.nav-toggle(type='checkbox')
        nav
          ul
            li
              a(href='fire') Fire Types
            li
              a(href='water') Water Types
            li
              a(href='earth') Earth Types
            li
              a(href='electric') Electric Types
            li
              a(href='dragon') Dragon Types
        label.nav-toggle-label(for='nav-toggle')
          span
      img#slideshow(name='slide')
      // Short description of the course, what it's about and what it does
      article#description
        h1 Course Description
        p.description
          | This two-year program exposes students to precision manufacturing and computer
          | numerically-controlled machining. Students will gain insight on the select tools and materials
          | needed to make durable goods, read blueprints, comprehend CNC theory and procedures, utilize machine
          | shop math, and much more.
        p.description
          | West-MEC programs prepare students to seek one or more industry certification or
          | licensure in their field of study, providing a pathway to economic independence.
      // Some information about the instructor, Chris Brideman. Includes his experience and college education
      #profileBox
        article#bio
          img#alpha(src='../img/Chris Bridgeman.png' alt='Your instructor')
          h1#chrisName Chris Bridgeman
          h2 Experience
          p#secondBio.bioText
            | This is my first year with West-MEC and I can professionally say this is a spectacular school
            | for these hard working students that enroll here. I have 27 years of experience in my field of
            | precision machining and I can say this school does a lot of great work with the education and
            | certifications they provide to their students.
          h2#degreeHeader Degrees
          p#firstBio.bioText
            img#GWCC(src='../img/GWCC_logo.png' alt='GWCC')
            img#UTI(src='../img/UTI_logo.png' alt='UTI')
            section#firstDegree.sectionDegree
              | - Associates Degree for Industrial Design
              | Technology
            section#secondDegree.sectionDegree
              | - Associates Degree from Universal Technical
              | Institute
          h2 Quote
          p#quote.bioText
            strong &quot;The hardest choices require the strongest wills&quot;
            |  ~
            em Thanos
      // About the CTSO. Starts with the SkillsUSA logo, then what their mission is, their work, and finally 3 sections for the awards they've gotten from Regionals, State, and Nationals
      article#CTSO
        img#officers(src='../img/Skills-USA-1030x668.png' alt='')
        h1 CTSO
        h2 Our Mission
        p
          | Our mission as a CTSO is to set an example, show and encourage other students to do their best,
          | manage
          | the
          | CTSO as a team not just as individuals, and we keep the CTSO as powerful and fully functional as
          | possible.
        h2 Our Work
        p
          | We are a hard working, dedicated, and enthusiastic CTSO and we look forward to any future students or
          | collaborations with other organizations. Our CTSO officers for the West-MEC Precision Machining
          | Program
          | work
          | as
          | a team to attend meetings to stay up to date, manage POs and funds for our program, hold events and
          | showcases,
          | and even arrange timing, permission forms, and costs for conferences for all of the attending
          | students.
        h3 Awards
        .awards
          #regionals
            h4 Regionals:
            ul
              li American Dream-1st Place
              li Additive Manufacturing-2nd Place
              li Advertising Design-2nd
              li Chapter Display-3rd
              li Outstanding Chapter-3rd
          .state
            h4 State:
            ul
              li American Dream-2nd Place
              li Chapter Display-3rd Place
              li Outstanding Chapter-3rd Place
          .nationals
            h4 Nationals:
            ul
              li American Dream-3rd Place
              li Chapter Display-6th Place
      // Contact form, ask for your name,email, adress, grade, and if you have any questions
      form#contactForm
        fieldset#contact
          legend Contact Us
          .top-form
            .inner-form
              label Name
              input#name(name='name' type='text' placeholder='First Name Last Name' required='')
            .inner-form
              label Email
              input#email(for='email' type='text' placeholder='Email Address' required='')
            .inner-form
              label Address
              input#address(name='address' type='text' placeholder='Home Address' required='')
          .middle-form
            label What is your Current Grade?
            select#gradeList(required='')
              option(value='Freshmen') Freshmen
              option(value='Sophomore') Sophomore
              option(value='Junior') Junior
              option(value='Senior') Senior
          .bottom-form
            label Do you have any questions?
            textarea#userQuestions(name='userQuestions' cols='50' rows='10')
          button#submit Submit
      // Google Maps for the campus
      span#adjustMap
        #mapP
          iframe#map(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13302.688129094173!2d-112.2928375!3d33.5359117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1fbd2919e78fa444!2sWestMEC+Central+Campus!5e0!3m2!1sen!2sus!4v1557272063721!5m2!1sen!2sus' width='800' height='500' frameborder='0' style='border:0' allowfullscreen='')
    
    //- call data from fetch and server.js
    .main=pokemon

    footer
      #links
        p
          a(href='https://drive.google.com/file/d/1dH3h6C3VaGFJM_OQs96lUrLw8STLl5Hh/view')
            | Course
            | Overview
        p
          a(href='https://west-mec.edu/advisory-council/') Advisory Council
        p
          a(href='https://west-mec.edu/parent-resources/')
        p
          a(href='https://drive.google.com/file/d/1mOyvO0_UizW8YMWSxVwjup5B0Gy35gK5/view')
        p
          a(href='')
      section#mediaContainer
        #media
          a.fa.fa-facebook(href='#' title='Facebook')
          a.fa.fa-twitter(href='#' title='Twitter')
          a.fa.fa-instagram(href='#' title='Instagram')
          a.fa.fa-linked-in(href='#' title='linked-in')
  script(src='form.js')
