<!DOCTYPE html>
<html lang="en">

<!--
    Capstone 2019 Project
    West-MEC Websites 
    
    Percision Machining Website
    Author: Caleb Snow
    Date:   3/6/19

    Filename: index.html
   -->

<head>
    <meta charset="utf-8">
    <title>Precision Machining</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="css/pm_main.css" />
    <script src="pm_slideshow.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div id="page-container">
        <div id="content-wrap">
            <!-- Nav (Holds Logo along with tabs) -->
            <header>
                <img class="logo" src="img/west-mec.png" />

                <input type="checkbox" id="nav-toggle" class="nav-toggle">
                <nav>
                    <ul>
                        <li>
                            <a href="index.pug">Home</a>
                        </li>
                        <li>
                            <a href="#about.pug">About</a>
                        </li>
                        <li>
                            <a href="#CTSO">CTSO</a>
                        </li>
                        <li>
                            <a href="shop.html">Shop</a>
                        </li>
                        <li>
                            <a href="#contactForm">Contact</a>
                        </li>
                    </ul>
                </nav>
                <label for="nav-toggle" class="nav-toggle-label">
                    <span></span>
                </label>
            </header>

            <img name="slide" id="slideshow">
            <!-- Short description of the course, what it's about and what it does -->


            <article id="description">
                <h1>Course Description</h1>
                <p class="description">This two-year program exposes students to precision manufacturing and computer
                    numerically-controlled machining. Students will gain insight on the select tools and materials
                    needed to make durable goods, read blueprints, comprehend CNC theory and procedures, utilize machine
                    shop math, and much more.</p>
                <p class="description">West-MEC programs prepare students to seek one or more industry certification or
                    licensure in their field of study, providing a pathway to economic independence.</p>

            </article>

            <!-- Some information about the instructor, Chris Brideman. Includes his experience and college education -->
            <div id="profileBox">

                <article id="bio">

                    <img id="alpha" src="img/Chris Bridgeman.png" alt="Your instructor">
                    <h1 id="chrisName">Chris Bridgeman</h1>
                    <h2>Experience</h2>
                    <p id="secondBio" class="bioText">
                        This is my first year with West-MEC and I can professionally say this is a spectacular school
                        for these hard working students that enroll here. I have 27 years of experience in my field of
                        precision machining and I can say this school does a lot of great work with the education and
                        certifications they provide to their students.
                    </p>
                    <h2 id="degreeHeader">Degrees</h2>
                    <p id="firstBio" class="bioText">
                        <img id="GWCC" src="img/GWCC_logo.png" alt="GWCC">
                        <img id="UTI" src="img/UTI_logo.png" alt="UTI">
                        <section id="firstDegree" class="sectionDegree">- Associates Degree for Industrial Design
                            Technology</section>
                        <section id="secondDegree" class="sectionDegree">- Associates Degree from Universal Technical
                            Institute</section>
                    </p>

                    <h2>Quote</h2>
                    <p id="quote" class="bioText"><strong>"The hardest choices require the strongest wills"</strong> ~
                        <em>Thanos</em>
                    </p>
                </article>
            </div>

            <!-- About the CTSO. Starts with the SkillsUSA logo, then what their mission is, their work, and finally 3 sections for the awards they've gotten from Regionals, State, and Nationals -->
            <article id="CTSO">
                <img src="img/Skills-USA-1030x668.png" alt="" id="officers">
                <h1>CTSO</h1>

                <h2>Our Mission</h2>
                <p>Our mission as a CTSO is to set an example, show and encourage other students to do their best,
                    manage
                    the
                    CTSO as a team not just as individuals, and we keep the CTSO as powerful and fully functional as
                    possible.
                </p>
                <h2>Our Work</h2>
                <p>We are a hard working, dedicated, and enthusiastic CTSO and we look forward to any future students or
                    collaborations with other organizations. Our CTSO officers for the West-MEC Precision Machining
                    Program
                    work
                    as
                    a team to attend meetings to stay up to date, manage POs and funds for our program, hold events and
                    showcases,
                    and even arrange timing, permission forms, and costs for conferences for all of the attending
                    students.
                </p>
                <h3>Awards</h3>
                <div class="awards">
                    <div id="regionals">
                        <h4>Regionals:</h4>
                        <ul>
                            <li>American Dream-1st Place</li>
                            <li>Additive Manufacturing-2nd Place</li>
                            <li>Advertising Design-2nd</li>
                            <li>Chapter Display-3rd</li>
                            <li>Outstanding Chapter-3rd</li>
                        </ul>
                    </div>
                    <div class="state">
                        <h4>State:</h4>
                        <ul>
                            <li>American Dream-2nd Place</li>
                            <li>Chapter Display-3rd Place</li>
                            <li>Outstanding Chapter-3rd Place</li>
                        </ul>
                    </div>
                    <div class="nationals">
                        <h4>Nationals:</h4>
                        <ul>
                            <li>American Dream-3rd Place</li>
                            <li>Chapter Display-6th Place</li>

                        </ul>
                    </div>
                </div>
            </article>
            <!-- Contact form, ask for your name,email, adress, grade, and if you have any questions -->
            <form id="contactForm">
                <fieldset id="contact">
                    <legend>Contact Us</legend>
                    <div class="top-form">
                        <div class="inner-form"><label>Name</label> <input name=" name" id="name" type="text"
                                placeholder="First Name Last Name" required></div>
                        <div class="inner-form"><label>Email</label><input for="email" id="email" type="text"
                                placeholder="Email Address" required></div>
                        <div class="inner-form"><label>Address</label><input name="address" id="address" type="text"
                                placeholder="Home Address" required></div>
                    </div>
                    <div class="middle-form"><label>What is your Current Grade?</label> <select id="gradeList" required>
                            <option value="Freshmen">Freshmen</option>
                            <option value="Sophomore">Sophomore</option>
                            <option value="Junior">Junior</option>
                            <option value="Senior">Senior</option>
                        </select>
                    </div>
                    <div class="bottom-form">
                        <label>Do you have any questions?</label><textarea name="userQuestions" id="userQuestions"
                            cols="50" rows="10"></textarea>
                    </div>
                    <button id="submit">Submit</button>
                </fieldset>
            </form>
            <!-- Google Maps for the campus-->
            <span id="adjustMap">
                <div id="mapP"> <iframe id="map"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13302.688129094173!2d-112.2928375!3d33.5359117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1fbd2919e78fa444!2sWestMEC+Central+Campus!5e0!3m2!1sen!2sus!4v1557272063721!5m2!1sen!2sus"
                        width="800" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </span>

        </div>
        <footer>
            <div id="links">
                <p><a href="https://drive.google.com/file/d/1dH3h6C3VaGFJM_OQs96lUrLw8STLl5Hh/view">Course
                        Overview</a>
                </p>
                <p><a href="https://west-mec.edu/advisory-council/">Advisory Council</a></p>
                <p><a href="https://west-mec.edu/parent-resources/"></a></p>
                <p><a href="https://drive.google.com/file/d/1mOyvO0_UizW8YMWSxVwjup5B0Gy35gK5/view"></a></p>
                <p><a href=""></a></p>
            </div>
            <section id="mediaContainer">
                <div id="media">
                    <a href="#" class="fa fa-facebook" title="Facebook"></a>
                    <a href="#" class="fa fa-twitter" title="Twitter"></a>
                    <a href="#" class="fa fa-instagram" title="Instagram"></a>
                    <a href="#" class="fa fa-linked-in" title="linked-in"></a>
                </div>
            </section>
        </footer>
    </div>
    <script src="form.js"></script>
</body>

</html>